<html>
<head>
	<title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
             var socket = io.connect();
             var name= prompt("what is your name?" )
                socket.emit('new_user', name);
            socket.on ('alert_new_user',function(name){
                $('#message').append(name + " joined the chat room" + "</br>"); 
            })
            $('#ok').on('click', function(){
                form={
                    text:$('textarea[name=name]').val()
                }
                message= form.text; 
                socket.emit('message', message);
            })
            socket.on('message', function(text){
                $('#message').append('<p>'+text +'</p>'); 
            })
        });
    </script>

</head>
<body>
    <div id= "message"> </div>
   
    <textarea name='name' rows='5' cols='30'></textarea></br>
    <button id='ok'>Enter your message here</button></br>
    <input type= 'submit' value='CANCEL' name='cancel'>
</body>
</html> 
 